<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header %>
		<title>New Post</title>
	</head>
	<body>
		<% include partials/navbar %>
		<div class="ui container text segment main">
			<div class="ui huge header">New Blog</div>
			<form class="ui form" action="/blogs" method="POST">
				<div class="field">
					<label>Title</label>
					<input type="text" name="blog[title]" />
				</div>
				<div class="field">
					<label>Image url</label>
					<input type="text" name="blog[image]" />
				</div>
				<div class="field">
					<label>Blog content goes here...</label>
					<textarea type="text" name="blog[body]"></textarea>
				</div>
				<div class="field">
					<button class="ui button violet basic big" type="submit">
						Submit
					</button>
				</div>
			</form>
		</div>
		<% include partials/footer %>
	</body>
</html>
